@media (min-width: 900px) {
  .listCard {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #f6f6f6;
    border-radius: 25px;
    max-width: 1200px;
    padding: 25px 0 50px 0;
    margin: auto;
  }
}
