.collapse {
  margin-top: 20px;
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 5px;
  .collapseTitle {
    position: relative;
    background: #ff6060;
    height: 25px;
    color: white;
    padding: 0 0 0 7px;
    line-height: 190%;
    border-radius: 5px;
    font-size: 13px;
    .svg {
      position: absolute;
      right: 5%;
      top: 35%;
    }
  }
  .collapseText {
    margin: 0;
    position: relative;
    background: #f7f7f7;
    border-radius: 5px;
    height: auto;

    .text {
      margin: 0;
      padding: 15px;
      color: #ff6060;
      font-weight: 400;
      font-size: 12px;
    }
    .collapseList {
      margin: 0;
      padding: 15px;
    }
    .collapseListItem {
      color: #ff6060;
      list-style-type: none;
      font-weight: 400;
      font-size: 12px;
    }
  }
}

@media (min-width: 900px) {
  .collapse {
    margin-left: 10%;
    width: 80%;
    .collapseTitle {
      height: 47px;
      font-size: 24px;
      padding: 0 0 0 15px;
      line-height: 200%;
      .svg {
        width: 24px;
        height: 14px;
        right: 2%;
      }
    }
    .collapseText {
      .text {
        font-size: 24px;
      }
      .collapseListItem {
        font-size: 24px;
      }
    }
  }
}
