.header {
  display: flex;
  align-items: center;
  .nav {
    position: absolute;
    right: 0%;
    .accueil,
    .about {
      text-transform: uppercase;
      color: #ff6060;
      font-size: 12px;
      text-decoration: none;
      padding: 10px;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media (min-width: 900px) {
  .header {
    .nav {
      right: 2%;
      .accueil,
      .about {
        text-transform: capitalize;
        font-size: 24px;
        padding: 20px;
      }
    }
  }
}
