@media (max-width: 900px) {
  .header {
    display: flex;
    align-items: center;
    .nav {
      position: absolute;
      right: 0%;
      .accueil,
      .about {
        font-family: 'Montserrat';
        font-style: normal;
        text-transform: uppercase;
        color: #ff6060;
        font-size: 12px;
        text-decoration: none;
        padding: 10px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
