.carousel {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 255px;
  .bgPicture {
    height: 255px;
    .pictureActive {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }

  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 45%;
    width: 12px;
    height: 20px;
    fill: white;
  }
  .arrowLeft {
    left: 2%;
  }
  .arrowRight {
    right: 2%;
  }
  .pictureNumber {
    opacity: 0;
  }
}

@media (min-width: 900px) {
  .carousel {
    height: 415px;
    .bgPicture {
      height: 415px;
    }
    .arrowLeft,
    .arrowRight {
      width: 48px;
      height: 80px;
      top: 40%;
    }
    .pictureNumber {
      position: absolute;
      color: white;
      left: 50%;
      bottom: 3%;
      opacity: 1;
    }
  }
}
