.carousel {
  position: relative;
  margin-top: 25px;
  width: 100%;
  height: 255px;

  .pictureActive {
    position: absolute;
    object-fit: fill;
    width: 100%;
    height: 255px;
    border-radius: 10px;
  }
  .arrowLeft,
  .arrowRight {
    position: absolute;
    top: 45%;
    width: 12px;
    height: 20px;
    fill: white;
  }
  .arrowLeft {
    left: 2%;
  }
  .arrowRight {
    right: 2%;
  }
  .pictureNumber {
    overflow: hidden;
  }
}

@media (min-width: 900px) {
  .carousel {
    height: 415px;
    .pictureActive {
      height: 415px;
    }
    .arrowLeft,
    .arrowRight {
      width: 48px;
      height: 80px;
    }
    .pictureNumber {
      position: absolute;
      color: white;
      left: 50%;
      bottom: 3%;
    }
  }
}
