.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 209px;
  margin-bottom: 0;
  background-color: #000000;
  color: #ffffff;
  margin: 20px -15px;
  margin-bottom: 0;
}
